/* App.css */

body,
html,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
}

.app::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('/src/assets/weather-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    z-index: -1;
}

#container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: -webkit-fill-available;
    overflow-x: scroll;
}

.page-content {
    padding: 30px;
    flex: 1;
}
