@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

.alarm-history-container {
    margin: 24px auto 0 auto;
    flex: 1;
    min-height: 0;
    background-color: rgba(191, 253, 202, 0.7);
    border: 1px solid #139e24;
    overflow-y: auto;
    color: #000;
    display: flex;
    font-size: 20px;
    gap: 3px;
    flex-direction: column;
    padding: 16px;
}
